body {
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
  
    background-color: #f2f2f2
  }
  
  img {
    max-width: 100%;
    
  }
  
  a { 
    text-decoration: none;
    color: #333333;
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
    width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: white;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}
.main-navigation {
    position: relative;
}
.main-header {
    width: 1200px;
    height: 55px;
    background-color: #ffffff;
    
}
.main-logo {
    position: absolute;
    right: 554px;
    top:  0px;
    z-index: 1;
}

.main-menu {
    display:flex;
    align-items: center;
    height: 55px;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    decoration: none;
    margin: 0px;
    
   

}
.main-menu li {
    width: 228px;
}

li {
    display: block;
}

.information,
.photo-and-video {
    text-align: left;
}
.map,
.hotels {
   text-align: right;
}
.hotels {
    padding-right: 72px;
}
.photo-and-video {
    padding-right: 104px;
}
.information {
    padding-left: 30px;
}
.map {
    padding-right: 2px;
}
.welcome-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
    
    margin: 0;
    
    width: auto;
    height: 509px;
    background-image: url("../847385-sedona-master/img/polygon.svg"), url("../img/maintext.png"), url("../img/background photo.jpg");
    background-position: 0 452px, center 75px, 0 -80px;
    background-color: #ffffff; 
}

.description {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 1200px;
    position: center;
    padding-top: 45px;
}
.welcome-text {
    display: block;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}
.text {
    font-size: 14px;
    line-height: 26px;
}
.recreation {
    display: flex;
    height: 260px;
    margin-top: 45px;
}
.recreation-text {
    width: 400px;
    height: 260px;
    background-color: #81b3d2;
    color: #ffffff;
}
.advantages-title {
    font-size: 21px;
    line-height: 21px;
    padding-top: 25px;
    font-weight: bold;
}
.advantages-text {
    font-size: 14px;
    line-height: 21px;
}
.advantages-item-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: black;
}

.advantages-list {
    font-size: 21px;
    line-height: 21px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    
}
.devil-bridge {
    display: flex;
    height: 260px;
}
.advantages-second-list {
    font-size: 21px;
    line-height: 21px;
    display: flex;
    justify-content: space-around;
    background-color: #eeeeee;
    margin: 0;
    height: 255px;
    align-items: center;
}
.order-bold {
    font-size: 30px;
    line-height: 36px;

}
.order-info {
    padding-top: 60px;
}
.btn-order {
    display: block;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    width: 568px;
    background-color: #766357;
    padding: 28px 0px;
    margin: auto;
    margin-top: 50px;
}
.search {
    display: none;
    position: absolute;
    z-index: 2;
    top: 427;
    left: calc(50% - 284px);

    width: 458px;
    padding: 55px;
    padding-top: 65px;
    margin: 0;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.search-show {
    display: block;
}
.select-area {
    position: relative;
    flex-grow: 1;
    background-color: #f2f2f2;
    border-style: none;
}
.adults, 
.childs {
    display: flex;
    margin-left:15px;
    width: 115px;
    height: 40px;
    align-items: center;
    text-align: center;
  }
  .number-column {
      display: flex;
      justify-content: space-between;
  }
  .date-select,
  .number-select {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
  }
  .date-select input,
  .number-select input {
      padding: 10px 0;
      color: #000000;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #f2f2f2;
      border: 2px solid #f2f2f2;
  }
  .search label{
    padding:0;
    margin:0;
    padding-right: 24px;

    color: #000000;
    font-weight: bold;
    line-height: 26px;
  }
  .number-select input {
    width: 114px;
    padding-left: 15px;
    text-align:left;
    height: 38px;
  }
   
   .childs input,
   .adults input {
    width: 20%;
    height: 35%;
    margin-left: 1px;
   }
  .calendar {
      border-style: none;
      background-color: inherit;
      position: absolute;
      top: 15%;
      left: 90%;
  }
  
  #departure-date {
    padding: 5px;
    height: 60%;
    width: 80%
  }
  #arrival-date {
      padding: 5px;
      height: 60%;
      width: 80%;
  }

  .select-area {
      height: 40px;
      margin-top: auto;
  }
  
  
  .btn-search {
    background-color: #81b3d2;
    width: 458px;
    height: 55px;
    border: inherit;
    font-size: 14px;
    line-height: 24px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 55px;
  }

  button[name="number-plus"],
  button[name="number-minus"] {
    border: none;
    outline: none;
    background-color: #f2f2f2;
  }
  .date-select input,
   {
      width: 80%;
      height: 60%;
      
  }
  .number-minus::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 11px;
      background-color: #b5b5b5;
      transform: rotate(90deg);  
      top: 15px;
      left: 15px;
  }
  .number-plus::before {
    content: "";
      position: absolute;
      width: 3px;
      height: 11px;
      background-color: #b5b5b5;
  }
  .number-plus::after {
    content: "";
      position: absolute;
      width: 3px;
      height: 11px;
      background-color: #b5b5b5;
      transform: rotate(90deg);
      
  }
  .number-plus {
      position: absolute;
      top: 1px;
     right: 1px;
      
  }

label.people,
label.labels {
    padding-top: 7px;
}
p.select-area.adults {
    margin-left: 19px;
}


.number-select button {
    width: 34px;
    height: 28px;
    margin: 0;
    padding: 0;
    font-size: 0;
    cursor: pointer;    
}
.peopel {
    padding-right: 10px;
}
input::placeholder{
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.price-controls input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 14px;
}
button[name="number-plus"]:hover::before,
button[name="number-plus"]:hover::after,
button[name="number-plus"]:focus::before,
button[name="number-plus"]:focus::after,
button[name="number-minus"]:hover::before,
button[name="number-minus"]:focus::before{
  background-color: #000000;
}
button[name="number-plus"]:active::before,
button[name="number-plus"]:active::after,
button[name="number-minus"]:active::before{
  background-color: #81b3d2;
}
.google-map {
    padding: 0;
    margin: 0;
}
.footer-left {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 42px;
    padding-left: 132px;
    display: flex;
}
.footer-social {
    display: flex;


}
.twitter {
    background-image: url(../img/t.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 15px;
}
.facebook {
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 22px;
}
.youtube {
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 16px;
}
.social-btn {
    content: "";
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-center ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 154px;
    margin: 0;
}
.footer-center {
    display: flex;
    margin-left: 213px
}
.footer-right {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 42px;
    margin-left: 220px;
    display: flex;

}
.main-footer {
    display: flex;
    padding: 0;
    margin: 0;
    height: 120px;
}


/*Разметка страницы каталога*/

.inner main {
    text-align: left;
}
.wrapper-inner {
    background-image: url(../img/background-inner.jpg);
    background-repeat: no-repeat;
    height: 220px;
    width: 100%;

}
.form-filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 71px;
    padding-top: 26px;
    padding-right: 70px;
    padding-bottom: 0px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
}
.filter-list {
    width: 230px;
    padding: 0;
    margin: 0;
    padding-top: 9px;
}
.checkbox-indicator {
    
}
.filter-list li {
    padding: 12px;
    padding-left: 37px;
}
.filters fieldset {
    border: none;
}
.filters legend{
    display: block;
    margin-top:10px;

    font-size: 16px;
    font-weight: bold;
  }
  .login-checkbox {
      position: relative;
  }
  .login-checkbox input[type="checkbox"] + .checkbox-indicator {
      position: absolute;
      top: 0;
      left: -39px;
      width: 23px;
      height: 23px;
      background-image: url("../img/checkbox-off.svg");
      background-repeat: no-repeat;
  }
  .login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
  }

  .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator{
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
  }

  .login-checkbox input[type="checkbox"]:disabled + .checkbox-indicator{
    width: 27px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  .login-checkbox input[type="checkbox"]:disabled:checked + .checkbox-indicator{
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .filter-option {
      position: relative;
  }
  .filters li {
      list-style: none;
  }
  .filter-column {
      display: flex;
      justify-content: space-between;
      
  }
  .filter-range-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
  }
  .filter-range {
      margin-right: -8px;
      margin-top: -2px;
  }
  .price-controls input {
    width: 50px;
    margin: 0;
    padding-top: 7px;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
  }
  .price-controls {
    position: relative;  
    width: 315px;
    height: 33px;
    margin-bottom: 19px;
    margin-top: 10px;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  .price-controls::after {
      content: "";
      position: absolute;
      top: 13%;
      left: 50%;
      width: 2px;
      height: 23px;
      background-color: #ffffff;
  }
  .min-price {
      padding-left: 64px;
  }
  .max-price {
      padding-left: 73px;
  }
  .bar {
      width: 80%;
      height: 2px;
      background: #ffffff;
  }
  .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }
  .range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  .range-toggle-min {
    left: 0;
  }

  .range-toggle-max {
    left: 79%;
  }
  .range-controls {
      position: relative;
  }
  .btn-transparent {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: inherit;
    width: 134px;
    height: 34px;
    margin-top: 33px;
    margin-left: 85px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .sorting-column-title {
    display: flex;
    margin-top: 28px;
    font-size: 21px;
    line-height: 26px;
    margin-left: 80px;
  }
  .sorting-column {
    display: flex;
    margin-top: 21px;
    margin-left: 48px;
    font-size: 12px;
    line-height: 18px;
  }
  .sorting-column ul {
    display: flex;
    justify-content: space-between;
    width: 240px;
  }
  .sorting-column p {
      display: flex;
  }
  .sorting {
      display: flex;
      height: 86px;
      position: relative;
  }
  .arrow-down.current {
    padding-left: 10px;
    
 }
  .sorting-column.arrows {
    position: absolute;
    top: 13px;
    right: 70px;
    width: 28px;
  }
  .sorting-column .current path{
      fill:#81b3d2;
    }
    .arrow-up path {
        fill: rgb(202, 202, 202);
    }
    
    .sorting-link {
        opacity: 0.3;
        text-decoration: underline;
        text-decoration-style: dotted;
        outline: none;
    }
    
    .sorting-link:hover,
    .sorting-link:focus {
        color: #81b3d2;
        opacity: 1;
    }
    .sorting-link:active{
        color: #000000;
        text-decoration: none;
      }
      .sorting-link.current {
        color: #81b3d2;
        text-decoration: none;
        opacity: 1;
    }
    .item-list ul {
        margin: 0;
    }
    li.item {
        display: flex;
        height: 150px;
        border-top: 1px solid #f2f2f2;
        position: relative;
    }
    .item-img {
        padding-top: 27px;
        padding-left: 33px;
        margin-right: 27px;
    }
    .item-block {
        display: flex;
        width: 300px;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .info {
        padding-top: 22px;
    }
    .item-name {
        font-size: 21px;
        line-height: 26px;
        
    }
    .item.last {
        border-bottom: 1px solid #f2f2f2;
    }
    .item-row {
        display: flex;
        justify-content: space-between;
        width: 190px;
    }
    .item-type {
        margin-top: 8px;
    }
    .item-price {
        margin-top: 8px;
    }
    .item-stars {
        margin-bottom: 40px;
    }
    .stars {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: flex-end;
    }
    .stars li {
        padding: 0 0 0 6px;
    }
    .rating {
        position: absolute;
        top: 27px;
        right: 73px;
    }
    .item-racing {
        background-color: #f2f2f2;
        color: #666666;
        margin-left: 32px;
        text-align: center;
        padding: 3px 0 3px 0;
        width: 120px;
    }
    .btn {
        display: flex;
        justify-content: space-between;
        width: 260px;
    }
    .btn-more {
        background-color: #81b3d2;
        padding: 3px 17px 1px 17px;
        color: #ffffff;
        font-weight: bold;
    }
    .btn-book {
        color: #ffffff;
        font-weight: bold;
        background-color: #766357;
        padding: 3px 17px 1px 17px;
    }
